* {
  transition: 0.5s;
}
.about {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f2fefe;
}
.title-container {
  max-width: 625px;
  position: relative;
  text-align: center;
  margin: -9px auto 60px;
}
.title {
  display: inline-block;
  font-size: 20px;
  color: #1dd3f8;
  margin-bottom: 5px;
}
.roboto-400 {
  font-weight: 400;
  line-height: 36px;
  font-family: Roboto, sans-serif;
}
.dosis-700 {
  font-weight: 700;
  font-family: Dosis, sans-serif;
}
.p {
  line-height: 48px;
}
.desc {
  font-size: 15px;
  color: #212121;
  line-height: 27px;
}
.name {
  font-size: 22px;
  line-height: 26px;
  color: #212121;
}
.name:hover {
  color: #1dd2f6;
}

.single-offer {
  border: 1px dotted #1dd3f8;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 20px 25px 15px;
  background-color: #fff;
}
.single-offer:hover {
  transform: translateY(-20px);
}
.wrapper-content {
  margin-left: 8px;
}
.wrapper-row {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .box1 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .box1 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}
.box {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
