.header {
  position: fixed;
  z-index: 99999;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  position: fixed;
  right: 0;
  left: 0;
}
.header-brand {
  color: #fff;
  font-size: 40px;
  line-height: 70px;
  display: inline-block;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.menu {
  margin-right: 20px;
  margin-top: 16px;
  transition: 0s;
}
.menu .menu-item {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
.menu .menu-item .menu-item-link {
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
}
.menu .menu-item .active,
.menu .menu-item .menu-item-link:hover {
  color: #fff;
}
.nav-toggle {
  cursor: pointer;
}
#btn-menu {
  display: none;
}

@media (max-width: 1200px) {
  #btn-menu {
    display: block;
  }
  .menu {
    float: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    background-color: rgba(4, 6, 60, 1);
    margin: 0;
    transition: 0.5s;
  }

  .show-menu {
    left: 0;
  }
}
